@model IEnumerable<BlogApp4.Models.Post>

@{
    ViewBag.Title = "Blogs";
}

<h2>Blogs</h2>

<p>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Create New", "Create")
    }
    else
    {
        <p>
            @Html.ActionLink("Log in", "Create") to create a new post 
        </p>        
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Title, "Details", new { id = item.ID })
            @* @Html.DisplayFor(modelItem => item.Title) *@
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Body)
        </td>
        <td>
            @if (User.Identity.IsAuthenticated)
            {
                if (User.Identity.Name.Equals(item.User_Name))
                {
                    <a href="@Url.Action("Edit", new { id = item.ID })">
                        <img src="@Url.Content("~/Content/img/edit.jpg")" width="15" height="15" title="Edit" />
                    </a>
                    <a href="@Url.Action("Delete", new { id = item.ID })">
                        <img src="@Url.Content("~/Content/img/delete2.jpg")" width="15" height="15" title="Delete" />
                    </a>
                }
            }
        </td>
    </tr>
}

</table>
